

/* .debug [class^="container"],
.debug .row,
.debug [class^="col"] {
    border: 2px solid navy;
} */

img {
    max-width: 100%;
}

/* macro-layout */
.body {
    width: 100%;
    height: 100vh;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: lightcoral;

    height: 70px;
}

.main {
    /* background-color: #051E34; */

    flex-grow: 1;

    display: flex;

    overflow-y: hidden;
}


/* main */
/* sidebar */
.sidebar {
    background-image: url(../img/assets/sidebar-bg.png);
    background-color: #051E34;
    width: 67px;
}

.dashboard {
    background-color: white;
    flex-grow: 1;
    overflow-y: auto;
}

.dashboard .details {
    /* overflow-y: scroll; */
}


.mobile-logo {
    width: 37px;
    aspect-ratio: 1;
}

.sidebar .list-group {
    border-radius: 0;
}

.sidebar .list-group-item {
    background-color: transparent;
    border-color: transparent;
    color: white;
}

.sidebar .list-group-item.active {
    background-color: rgba(255, 255, 255, .25);
}

.sidebar__icon {
    font-size: 1.5rem;
    width: 30px;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* .dashboard */
/* recap */

.recap {
    background-color: #1B72E8;
    color: white;
    /* padding: 20px 0; */
}

.recap .badge {
    background-color: #051E34;
    color: white;
}

.dashboard .offcanvas {
    width: 100%;
}

/* details */
.class__img img {
    width: 30px;
}

.dashboard .card-header {
    font-weight: 700;
    font-size: 1.5rem;
}



/*************************************************** 
***********************bonus*************************
*******************dark mode app*********************
*****************************************************/

/* navbar */
body.dark {
    background-color: #333;
    color: #eee;
}


.dark .header .navbar {
    background-color: #111 !important;
    color: #eee;
}

.dark .form-control,
.dark .dropdown-menu,
.dark select {
    /* --bs-btn-font-weight: 600; */
    color: #eee;
    background-color: #333;
    border-color: #333;
    /* --bs-btn-border-radius: .5rem; */
    /* --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #{shade-color($bd-violet, 10%)};
    --bs-btn-hover-border-color: #{shade-color($bd-violet, 10%)};
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #{shade-color($bd-violet, 20%)};
    --bs-btn-active-border-color: #{shade-color($bd-violet, 20%)}; */
}

.dark .form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #666;
    opacity: 1; /* Firefox */
}
  
.dark .form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #666;
}
  
.dark .form-control::-ms-input-placeholder { /* Microsoft Edge */
    color: #666;
}

.dark .nav-item a:not(.active) {
    color: #eee !important;
}


/* sidebar */
.dark .sidebar {
    background-color: #111;
}

/* dashboard */
/* recap */
.dark .recap {
    background-color: #444;
}

.dark .recap .badge {
    background-color: #222;
}

.dark .offcanvas {
    color: #eee;
    background-color: #444;
    border-color: #444;
}

.dark .offcanvas .input-group-text {
    background-color: #222;
    border-color: #222;
    color: #888;
}

.dark .offcanvas .btn-close {
    color: #eee;
    background-color: #eee;
}

/* details */
.dark .dashboard,
.dark .details {
    background-color: #666;
    color: #eee;
}

.dark .details .card {
    background-color: #333;
    color: #eee;
}

.dark .details .card-body,
.dark .details .card-body .accordion-button, 
.dark .details .card-body .list-group-item {
    background-color: #555;
    border-color: #555;
    color: #eee;
}

.dark .details .list-group-item {
    background-color: #444;
    border-color: #444;
    color: #eee;
}

.dark .details .card-body .accordion-body {
    background-color: #777;
    color: #eee;
}

.dark .details .card-body .table {
    /* background-color: #777; */
    color: #eee;
}

.dark .details .card-body .table .btn {
    background-color: #333;
    border-color: #333;
    color: #999;
}


/* responsive */
/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {


}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {


}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

    .sidebar { 
        width: 150px;
    }

    .dashboard .offcanvas {
        width: 800px;
    }

}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {


}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {


}

